.card-header {
    cursor: pointer;
    font-size: 14pt;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.22);
    border-color: var(--bs-dark);
}

.card-body {
    background-color: #ffffff;
}

/* #data-preview-panel-body {
    max-height: 33vh;
    overflow-y: auto;
} */

.loader {
border: 5px solid #d7d7d7; 
border-top: 5px solid #777;
border-radius: 50%;
width: 30px;
height: 30px;
animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
